<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    Model Initialization - Emotions
    <add key="model" value="hp,sd,ag,dg,sp,fr" />
    -->
    <!-- Main Objectives, IO operations, Model Definition, Kernel -->
    <add key="model" value="sarcasm,neutral" />    
    <add key="training_set" value="sarcasm" />    
    <add key="testing_set" value="sarcasm" />  
    <add key="Dataset" value="Sarcasm" />  
    <add key="dataset_location" value="../../Dataset/" />    
    <add key="trained_location" value="../../../" />    
    <add key="output_location" value="../../../" />    
    <add key="kernel" value="_kernel[Linear-SMO]" />    
    <add key="learner" value="SMO" />    
    <!--
    Dataset Extraction & Preprocessing 
    -->
    <add key="delimeter" value="tab"/>    
    <add key="emotion" value="0"/>    
    <add key="sentence" value="1"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>


